//Variables
//FONT
$primaryFont: Arial, sans-serif;
$bigFontSize: 40px;
$fontSize: 20px;
//COLOR
$AccentColor: #3D52A0;
$secondaryColor: #7091E6;
$tertiaryColor: #8697C4;
$quaternaryColor: #ADBBDA;
$backgroundColor: #EDE8F5;
$overlayColor: rgba(0, 0, 0, 0.6)
