@import './_variables.scss';

:root {
  font-family: $primaryFont;
  font-size: $fontSize;
  background-color: $backgroundColor;
  color: $AccentColor;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
} 


//a:hover {
//  color: $tertiaryColor;
//  cursor: pointer;
//} 
//
//
//a:focus {
//  color: $tertiaryColor;
//} 

.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.headerFooter {
	width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
	color: $backgroundColor;
	background-color: $AccentColor;
}

.navBar {
	width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  list-style: none;
}

.navBarLinks {
    color: $secondaryColor;
  }
  
.navBarLinks:hover {
color: $backgroundColor
}

.navBarLinks:focus {
  color: $backgroundColor
  }

.form {
  padding:10px;
  justify-items: center;
  display: flex;
  flex-direction: column;
}