//Variables
//FONT
$primaryFont: Arial, sans-serif;
$fontSize: 20px;
//COLOR
$primaryColor: #09122C;
$secondaryColor: #872341;
$tertiaryColor: #BE3144;
$quaternaryColor: #E17564;
$overlayColor: rgba(0, 0, 0, 0.6)
