@use '@styles/_variables' as *;

.simpleAnchor {
    color: $secondaryColor;
    text-decoration: none;
}

.simpleAnchor:hover {
    color: $tertiaryColor;
    cursor: pointer;
}

.simpleAnchor:focus {
    color: $tertiaryColor;
}

.fancyAnchor {
    text-decoration: none;
}

.navAnchor:focus {
    color: $backgroundColor;
    background-color: $quaternaryColor;
}